
body {
    background-image: url("https://external-preview.redd.it/TqA-cS7BnJcsqjY9nowXnYIDmYVJMTbV508ViryHpqM.jpg?auto=webp&s=6aaca541ce8c7db3a686e3d703b5c06b6474d991");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: "Helvetica";
    line-height: 1;
}


.hello {
    font-size: 170px;
    top: 8px;
    bottom: 16px;
}

.dyk {
    font-size: 80px;
    text-align: right;
    margin-right: 30px;
    top: 140px;
    right: 16px;
}

.who {
    font-size: 150px;
}

.i {
    font-size: 150px;
    margin-left: 620px;
}

.am {
    font-size: 150px;
    text-align: right;
    margin-right: 40px;
}

.stanza1 {
    line-height: .3;
    position: absolute;
    font-size: 20px;
    top: 8px;
    left: 1160px;
    text-align: left;
}

.stanza2 {
    line-height: .2;
    position: absolute;
    text-align: left;
    font-size: 20px;
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    bottom: 8px;
    left: 250px;
}






