.back{
  margin-bottom: none;
  padding-bottom: none;
}

.back:hover {
  animation: shake 3s;
  animation-iteration-count: infinite;
}

.container {
  display: flex;
  align-items: center;
}

.phone {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 1s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
  padding-top: none;
  margin-top: none;
  
}

.clock:hover {
  animation: shake 3s;
  animation-iteration-count: infinite;
}

.clock {
  padding-top: 200px;
}

#typing {
  font-family: helvetica;
  font-style: italic;
  color: black;
  font-size: 30px;
  /*padding-left: 100px;*/
  z-index: 1;
  float: left;
}

#typing2 {
  font-family: helvetica;
  font-style: italic;
  font-size: 30px;
  color: black;
/*  padding-top: 400px;
*/  padding-left: 100px;
  z-index: 1;
  float: left;
}


@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

